<div class = "container">
    <div class ="row mt-5 mb-5" >
      <h2 class ="mx-auto">本当に退会しますか？</h2>
    </div>


  <div class ="mx-auto text-center">
    退会すると、会員登録情報や</br>
    これまでの購入履歴が閲覧できなくなります。</br>
    退会する場合は「退会する」をクリックしてください。
  </div>

  <div class="row mt-3">
    <div class="mx-auto pl-10">
    <%= link_to "退会しない", customer_path, class:'btn btn-success' %>
    </div>
    <div class="mx-auto pr-10">
    <%= link_to "退会する",  withdraw_customer_path(current_customer), method: :patch, data: { confirm: '削除しますか？' }, class:'btn btn-danger' %>
    </div>

  </div>
</div>