<div class="about-visual col-md-8 ml-auto mr-auto">
  <h1 class="about-toptext text-center">About</h1>
    <p class="about-visual-text text-center">
    ながのCAKEは全国発送可能なケーキ屋さんです</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリデーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注意ください。</p>
</div>