<div class = "container">
    <div class ="row mx-auto m-3" >
      <h2 class="bg-secondary text-white">会員一覧</h2>
    </div>

  <div class = "mx-auto" >
    <table class = "table">
      <thead class="thead-dark">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
        </thead>

    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.first_name, admin_customer_path(customer) %></td>
        <td><%= customer.email %></td>
        <td>
        <% if customer.is_deleted == false %>
          <P class = "text-success" >有効</P>
        <% else %>
          <P class = "text-secondary" >退会</P>
        <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>




</div>