<!--<div class = "container">-->
<!--    <div class "row mx-auto m-3" >-->
<!--      <h2>注文履歴詳細</h2>-->
<!--    </div>-->
    
<!--    <%= @order.customer.first_name + @order.customer.last_name %>-->






<!--</div>-->